<!DOCTYPE html>
<html lang="en">

<head>
    <!--  Title -->
    <title>Welcome to El-Aged Care</title>
    <!--  Required Meta Tag -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="handheldfriendly" content="true" />
    <meta name="MobileOptimized" content="width" />
    <meta name="description" content="Mordenize" />
    <meta name="author" content="" />
    <meta name="keywords" content="Mordenize" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--  Favicon -->
    <link rel="shortcut icon" type="image/png" href="/images/logos/favicon.ico" />
    <!-- Owl Carousel  -->
    <link rel="stylesheet" href="/libs/owl.carousel/assets/owl.carousel.min.css">

    <!-- Core Css -->
    <link id="themeColors" rel="stylesheet" href="/css/style.min.css" />
</head>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <img src="/images/logos/favicon.ico" alt="loader" class="lds-ripple img-fluid" />
    </div>
    <!-- Preloader -->
    <div class="preloader">
        <img src="/images/logos/favicon.ico" alt="loader" class="lds-ripple img-fluid" />
    </div>
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
        <div class="position-relative overflow-hidden radial-gradient min-vh-100">
          <div class="position-relative z-index-5">
            <div class="row">
              <div class="col-xl-7 col-xxl-8">
                <a href="/" class="text-nowrap logo-img d-block px-4 py-9 w-100">
                  <img src="https://el-aged-care.org/wp-content/uploads/2018/03/cropped-el-logo-3.png" width="180" alt="">
                </a>
                <div class="d-none d-xl-flex align-items-center justify-content-center" style="height: calc(100vh - 80px);">
                  <img src="/images/svgs/login-security.svg" alt="" class="img-fluid" width="500">
                </div>
              </div>
              <div class="col-xl-5 col-xxl-4">
                <div class="authentication-login min-vh-100 bg-body row justify-content-center align-items-center p-4">
                  <div class="col-sm-8 col-md-6 col-xl-9">
                    <h2 class="mb-3 fs-7 fw-bolder">Welcome to El-Aged Care</h2>
                    <p class=" mb-9">Client health and social assessment</p>
                    
                    <div class="position-relative text-center my-4">
                      <p class="mb-0 fs-4 px-3 d-inline-block bg-white text-dark z-index-5 position-relative">Sign in</p>
                      <span class="border-top w-100 position-absolute top-50 start-50 translate-middle"></span>
                    </div>
                    <form action="/login" method="POST">
                      
                      <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" name="username">
                      </div>
                      <div class="mb-4">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password">
                      </div>                    
                      <button class="btn btn-primary w-100 py-8 mb-4 rounded-2">Login</button>
                      <p>You don't have an account? <a href="/register">Sign up</a></p>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <%- include ('partials/footer') %>